<h1>Listing project_requests</h1>

<table>
  <tr>
    <th>Project help</th>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_requests.each do |project_request| %>
  <tr>
    <td><%= project_request.project_help %></td>
    <td><%= project_request.employee_id %></td>
    <td style= "padding-left: 25px">Are you interested?</td>
    <td><a href="http://localhost:3000/responses">Expressing Interest</a></td>
    <td><%= link_to 'Show', project_request %></td>
    <td><%= link_to 'Edit', edit_project_request_path(project_request) %></td>
    <td><%= link_to 'Destroy', project_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project request', new_project_request_path %>
