<h1>Listing Available Project Requests</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Employee</th>
    <th>Group</th>
    <th>Office</th>
    <th>Start Date</th>
    <th> End Date</th>
    
    <th> Project Status</th>
    <th>Express Interest</th>
    <th>Current Responses</th>
  </tr>

<% @project_requests.each do |project_request| %>
  <tr>
    <td><%= project_request.project_help %></td>
    <td><%= project_request.employee_id %></td>
    <td><%= project_request.group %></td>
    <td><%= project_request.office %></td>
    <td><%= project_request.start_date.strftime("%m-%d-%y") %></td>
    <td><%= project_request.end_date.strftime("%m-%d-%y") %></td>
    
    <td> <% if project_request.start_date <= @current_date  %> 
      <%= project_request.status = 'Project has started' %>
    <% else %> 
      <%= project_request.status  = 'Project still available' %>
    <% end %>
    
    <% if project_request.end_date < @current_date %>  
      <%=   project_request.delete %>
    <% end %>
    <% if project_request.employee_id != current_employee.id %>
    
    <td><%= link_to "Are you interested?", new_project_request_response_path(project_request) %></td>
    <td><%= link_to "Current_responses", project_request_responses_path(project_request) %></td>
    <% else %>
    
    <td> </td>
    <td><%= link_to "Current_responses", project_request_responses_path(project_request) %></td>
    <% end %>
    <% if project_request.employee_id == current_employee.id %>
   
    <td><%= link_to 'Edit', edit_project_request_path(project_request) %></td>
    <td><%= link_to 'Destroy', project_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'My Profile', employee_path(current_employee) %> |
<%= link_to 'All employees', employees_path %> |
<%= link_to 'Post a Request', new_project_request_path %> |
<%= link_to 'Signout', signout_path, method: "delete" %>
