<p id="notice"><%= notice %></p>

<p>
  <b>Employee name:</b>
  <%= @employee.employee_name %>
</p>

<p>
  <b>Employee email:</b>
  <%= @employee.employee_email %>
</p>

<p>
  <b>Location:</b>
  <%= @employee.location %>
</p>

<p>
  <b>Department:</b>
  <%= @employee.department %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
