<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @response.message %>
</p>

<p>
  <b>Employee:</b>
  <%= @response.employee_id %>
</p>

<p>
  <b>Project request:</b>
  <%= @response.project_request_id %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
